##  Begins of GENERIC SECTION  ##
 
[GENERIC]
    #Possible values: S6A, S9, SLG, SLH, SH, CX
    interface = S6A

    # Diameter command codes:
    #   Basic Interface
    #       * Capabilities-Exchange         => CER/CEA      (257)
    #       * Device-Watchdog               => DWR/DWA      (280)
    #
    #   Interface >>> S6a <<<
    #       * Update-Location               => ULR/ULA      (316)
    #       * Cancel-Location               => CLR/CLA      (317)
    #       * Authentication-Information    => AIR/AIA      (318)
    #       * Insert-Subscriber-Data        => IDR/IDA      (319)
    #       * Delete-Subscriber-Data        => DSR/DSA      (320)
    #       * Purge-UE                      => PUR/PUA      (321)
    #       * Reset                         => RSR/RSA      (322)
    #       * Notify                        => NOR/NOA      (323)
    #       * ME-Identity-Check             => ECR/ECA      (324)
    #
    #   Interface >>> SLh <<<
    #       * LCS-Routing-Info              => RIR/RIA      (8388622)
    #
    #   Interface >>> SLg <<<
    #       * Provide-Location              => PLR/PLA      (8388620)
    #       * Location-Report               => LRR/LRA      (8388621)
    
    # List here all the messages to test
    #       <n_316~324>     # both request and answer messages
    #       <n_316~324>.r   # only request message
    #       <n_316~324>.a   # only answer message

    #List of base message's command codes. Accepted: CER/CEA and DWR/DWA
    base_message_list = 257.r, 257.a, 280.a
    
    #List of 3gpp message's command codes for the specified interface
    3gpp_messages_list = 319.r, 
    
    origin_host = TO BET SET CONSISTENT WITH USERNAME
    
    origin_realm = TO BET SET CONSISTENT WITH USERNAME
    
    destination_host = TO BET SET TO THE MME WHERE THE USER IS ROAMING
    
    destination_realm = TO BET SET TO THE REALM OF THE NETWORK WHERE THE USER IS ROAMING
    
##  Begins of AVPs SECTION  ## 
#
# classic AVP definition:
#   [AVP_NAME]
#     value =           the value of the AVP>
#     flags = ,         a list of flags, available values V (vendor-specific), M (mandatory), P(encription)
#
# for multiple AVP's of the same type:
#   [AVP_NAME]
#     type = multiple   specify that this section has multiple AVPs of the same type
#     number =          the number of AVPs of the <AVP_NAME> type
#     [[AVP_1]]         1st AVP
#        value = 
#        flags = ,
#       ...
#     [[AVP_N]]         Nth AVP
#        value = 
#        flags = ,
#   
# for grouped AVPs:
#   [AVP_NAME]
#     type = grouped    specify that this section is of type grouped. 
#                       The following sub-sections are childs of the <AVP_NAME> section
#     [[AVP_NAME_1]]    1st AVP
#        values = 
#        flags = ,
#       ...
#     [[AVP_NAME_1]]    Nth AVP
#        values = 
#        flags = ,

[AVPS]
    [[HOST_IP_ADDRESS]]
        value = TBD
        flags = M,
        
    [[AUTH_SESSION_STATE]]
        value = 1
        flags = ,

    [[ORIGIN_STATE_ID]]
        value = 0
        flags = ,

    [[SUPPORTED_VENDOR_ID]]
        value = 10415
        flags = M,

    [[AUTH_APPLICATION_ID]]
        value = 16777251
        flags = M,
    
    [[USER_NAME]]
        value = TBD
        flags = ,

        
    [[SUBSCRIPTION_DATA]]
        type = raw
        value = 00000578c00000fc000028af00000595c00000f0000028af0000058fc0000010000028af0000001000000594c0000010000028af0000000000000596c00000c4000028af0000058fc0000010000028af00000010000001ed400000126c70672e7065652e69740000000005b0c0000010000028af0000000000000597c0000038000028af00000404c0000010000028af000000070000040ac000001c000028af00000416c0000010000028af000000020000059bc000002c000028af00000204c0000010000028af02faf08000000203c0000010000028af0d693a4000000598c0000010000028af000000000000059ec0000010000028af00000001
        flags = M,
    
    [[IDR_FLAGS]]
        value = 30
        flags = V,M
        vendor = 10415
        
    [[RESULT_CODE]]
        value = 2001
        flags = M,

    [[FIRMWARE]]
        value = 3
        flags = ,
    
    [[VENDOR_ID]]
        value = 10415
        flags = M,

    [[PRODUCT_NAME]]
        value = SIGPLOIT
        flags = ,
