## A fuzzy config file ##
#
# List here all the messages to test
#		<n_316~324>		# both request and answer message
#		<n_316~324>.r	# only request message
#		<n_316~324>.a	# only answer message
test_list = 316, 317, 318, 319, 320, 321, 322, 323, 324

# Map the customizations
#	[[MSG_SHORTNAME]]		# the contracted versione of the name
#								* Update-Location 				=> ULR/ULA		(316)
#								* Cancel-Location 				=> CLR/CLA		(317)
#								* Authentication-Information 	=> AIR/AIA		(318)
#								* Insert-Subscriber-Data		=> IDR/IDA		(319)
#								* Delete-Subscriber-Data		=> DSR/DSA		(320)
#								* Purge-UE 						=> PUR/PUA		(321)
#								* Reset 						=> RSR/RSA		(322)
#								* Notify 						=> NOR/NOA		(323)
#								* ME-Identity-Check				=> ECR/ECA		(324)
#		[[[AVP_NAME]]]		# the AVP name to customize the value
#			custom = ,		# the list of customizations for the specified AVP
#
# Special TAGs for personalizations:
# * %%DESTINATION_HOST%% => replace at run-time this string with the destination host
# * %%ORIGIN_HOST%% => replace at run-time this string with the origin host
#
[CUSTOMIZATIONS]
	[[NOR]]
		[[[DESTINATION_HOST]]]
			custom = 'ssa',

	[[AIR]]
		[[[DESTINATION_HOST]]]
			custom =  'asd',
		
	[[ULR]]
		[[[DESTINATION_HOST]]]
			custom = 'banana',
	
